* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

:root {
    --cor1:#FFF159;
    --cor2:#470661;
    --cor3:#A614BC;
    --cor4:#EBEBEB;
}

.clear {
    clear: both;
}

body {
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    width: 100%;
    margin: auto;
}

header {
    background-color: var(--cor1);
    padding: 0 8%;
    height: 100px;
    margin: auto;
    width: 100%;
}

header h1 {
    width: 100%;
    font-size: 26px;
    padding-top: 10px;
    color: #0808b6;
}

.pesquisa {
    text-align: right;
    position: relative;
    bottom: 30px;
    right: 50%;
    width: 100%;
}